.card {
    background-color: #041240 !important;
    margin: 10px !important;
    border: solid rgb(34,193,195);
    color: #f7fafc;
}
.card_gradiant{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

}
.card_img_dark{
    height: 100px;
}
.nav-link img{
    height: 22px !important;
}
.header a{
    margin-right: 4px !important;
}
.footer img{
    height: 40px !important;
}
