.card {
    background-color: #041240 !important;
    margin: 10px !important;
    border: solid #71dd8a;
    color: #f7fafc;

}
.card_img_dark{
    height: 100px;
}
.nav-link img{
    height: 22px !important;
}
.header a{
    margin-right: 4px !important;
}
.footer img{
    height: 40px !important;
}
